#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.App {
  /* margin-top:80px; */
  /* text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh; */
  background-image: url(./Images/mundoDefinitivo.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    top: 0;
    left: 0;
}

/* @media screen and (min-width: 768px) {
  .App{
    background-image: none;
    background-color: brown;
  }
}

@media screen and (min-width: 960px) {
  .App{
    background-image: none;
    background-color: rgb(42, 79, 165);
  }
} */